@using Data.Models;

<h2>City list</h2>
<ul>
@foreach (City city in Model)
{
  <li>@city.GetCity(): Population: @city.GetPopulation()</li>
}
<h3><a href='/Country'>enter</a>click here to see list of country populations</h3>



</ul>
